<div class="container">
<h1>List of Recipes here</h1>
  <div class="row">
    <div class="grid justify-content-center" id="list">
        <% if @recipes == nil %>
        <% else %>
          <% @recipes.each do | recipe | %>
            <div class="recipe-cards my-3 recipe-image" style="background-image: url(<%= cl_image_path recipe.photos[0].key %>);">
                  <div style="display: flex;">
                        <a href="/recipes/<%= recipe.id %>" style="height: 100%;"></a>
                        <div class="heading">
                            <h5 class='mt-3 mb-0'><%= link_to recipe.name, recipe_path(recipe), class: "text-index" %></h5>
                            <div class='index-card-list mb-3'>
                                <h6 class="text-index-2 "><%= recipe.description %></h6>
                            </div>
                        </div>
                  </div>
              </div>
        <% end %>
        <% end %>
        </div>
    </div>
</div>
