<div class="background-img col-4">
<div class="container">
  <div class="heading-container col-4">
      <div class="header-div">
        <h1>Just Cashew It</h1>
        <%= link_to "go here", recipes_path(@recipes) %>
      </div>
  </div>
</div>
</div>
